
.ipynb_checkpoints/
data/data_categories.pkl
data/data_names.pkl
data/wiki-topcats-categories.txt.gz
data/wiki-topcats-page-names.txt.gz
data/wiki-topcats-reduced.txt
data/data_link.pkl
data/distances.txt
data/distances/